<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.3.1207/styles/kendo.bootstrap-v4.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.3.1207/js/kendo.all.min.js"></script>
    

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        <% if current_user.admin? %>
          <%= link_to "Create User", new_user_path %>
        <% end %>
        <%= form_tag logout_path, method: :delete do %>
          <%= submit_tag "Logout" %>
        <% end %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
